<nav class="navbar navbar-light" style="background-color: white; height: 80px; box-shadow: 0px 1px 8px">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
        <div>
            <label><b>hello,</b></label>
            <label style="color: #1a75ff;"><b><%= showname %></b></label>
            <label><b>!</b></label>
            <a href="/logout" style="color: #1a75ff; margin: 0 20px 0 20px;"><b>ออกจากระบบ</b></a>
        </div>
    </div>
</nav>